**Getting Historical data part 1**

In [1]:
import pandas as pd
import tpqoa

In [3]:
api = tpqoa.tpqoa('OANDA_First_steps\oanda.cfg')

In [4]:
help(api.get_history)

Help on method get_history in module tpqoa.tpqoa:

get_history(instrument, start, end, granularity, price, localize=True) method of tpqoa.tpqoa.tpqoa instance
    Retrieves historical data for instrument.

    Parameters
    ==========
    instrument: string
        valid instrument name
    start, end: datetime, str
        Python datetime or string objects for start and end
    granularity: string
        a string like 'S5', 'M1' or 'D'
    price: string
        one of 'A' (ask), 'B' (bid) or 'M' (middle)

    Returns
    =======
    data: pd.DataFrame
        pandas DataFrame object with data

In [5]:
api.get_history('EUR_USD', start='2020-07-01', end='2020-07-31', granularity='D', price='B')

                           o        h        l        c  volume  complete
time
2020-06-30 21:00:00  1.12293  1.12744  1.11837  1.12501   90252      True
2020-07-01 21:00:00  1.12501  1.13020  1.12188  1.12384   90789      True
2020-07-02 21:00:00  1.12384  1.12492  1.12186  1.12429   59036      True
2020-07-05 21:00:00  1.12423  1.13449  1.12391  1.13076   81756      True
2020-07-06 21:00:00  1.13070  1.13318  1.12581  1.12726   92426      True
2020-07-07 21:00:00  1.12717  1.13505  1.12615  1.13287   89549      True
2020-07-08 21:00:00  1.13287  1.13699  1.12774  1.12837  104729      True
2020-07-09 21:00:00  1.12808  1.13242  1.12540  1.12977   81510      True
2020-07-12 21:00:00  1.13042  1.13744  1.13002  1.13420   86512      True
2020-07-13 21:00:00  1.13420  1.14081  1.13232  1.13985  106478      True
2020-07-14 21:00:00  1.13979  1.14512  1.13901  1.14108  100308      True
2020-07-15 21:00:00  1.14108  1.14411  1.13698  1.13827  102144      True
2020-07-16 21:00:00  1.13827  1.14432  1.13737  1.14252   73024      True
2020-07-19 21:00:00  1.14088  1.14672  1.14017  1.14461  104209      True
2020-07-20 21:00:00  1.14461  1.15391  1.14223  1.15257  111043      True
2020-07-21 21:00:00  1.15257  1.16009  1.15059  1.15687  129890      True
2020-07-22 21:00:00  1.15634  1.16260  1.15397  1.15952  115345      True
2020-07-23 21:00:00  1.15920  1.16571  1.15806  1.16540  115447      True
2020-07-26 21:00:00  1.16420  1.17809  1.16387  1.17502  123653      True
2020-07-27 21:00:00  1.17502  1.17729  1.16980  1.17138  126006      True
2020-07-28 21:00:00  1.17145  1.18054  1.17114  1.17904  121087      True
2020-07-29 21:00:00  1.17904  1.18475  1.17304  1.18465  128163      True
2020-07-30 21:00:00  1.18465  1.19081  1.17602  1.17751  154943      True

In [6]:
df = api.get_history('EUR_USD', start='2020-07-01', end='2020-07-31', granularity='D', price='B')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 23 entries, 2020-06-30 21:00:00 to 2020-07-30 21:00:00
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   o         23 non-null     float64
 1   h         23 non-null     float64
 2   l         23 non-null     float64
 3   c         23 non-null     float64
 4   volume    23 non-null     int64
 5   complete  23 non-null     bool
dtypes: bool(1), float64(4), int64(1)
memory usage: 1.1 KB

In [14]:
api.get_history(instrument='EUR_USD', start='2020-07-01', end='2020-07-01', granularity='D', price='A')

                           o        h        l        c  volume  complete
time
2020-06-30 21:00:00  1.12393  1.12758  1.11858  1.12527   90252      True

In [11]:
api.get_history(instrument='EUR_USD', start='2020-07-01', end='2020-07-01', granularity='D', price='B')

                           o        h        l        c  volume  complete
time
2020-06-30 21:00:00  1.12293  1.12744  1.11837  1.12501   90252      True