# Coding Exercises

Now, you will have the opportunity to analyze your own dataset. <br>
__Follow the instructions__ and insert your code! You are either requested to 
- Complete the Code and __Fill in the gaps__. Gaps are marked with "__---__" and are __placeholders__ for your code fragment 
- Write Code completely __on your own__

In some exercises, you will find questions that can only be answered, if your code is correct and returns the right output! The correct answer is provided below your coding cell. There you can check whether your code is correct.

### Have Fun!

--------------------------------------------------------------------------------------------------------------

## Time Series Data in Pandas: Introduction


### Exercise 1: Intro to Time Series Data & DatetimeIndex

In [1]:
#run the cell!
import pandas as pd

1. __Import__ the csv-file "__aapl_fb.csv__" containing Stock Price Data for Apple and Facebook for the years 2015-2018! Convert the datatype in the column __Date__ to __datetime__ and set the column __Date__ as the __Index__ of the DataFrame! <br>
__Save__ the DataFrame in the variable __stocks__! __Fill in the gaps!__

In [5]:
stocks = pd.read_csv("aapl_fb.csv",parse_dates=['Date'],index_col='Date')

How many Timestamps does __stocks__ contain? What was the __maximum stock price__ for Facebook in that Period?

In [6]:
# run the cell!
stocks.head()

                  AAPL         FB
Date
2015-01-02  109.330002  78.449997
2015-01-05  106.250000  77.190002
2015-01-06  106.260002  76.150002
2015-01-07  107.750000  76.150002
2015-01-08  111.889999  78.180000

In [7]:
# run the cell!
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1005 entries, 2015-01-02 to 2018-12-28
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    1005 non-null   float64
 1   FB      1005 non-null   float64
dtypes: float64(2)
memory usage: 23.6 KB

In [8]:
# run the cell!
stocks.describe()

              AAPL           FB
count  1005.000000  1005.000000
mean    140.988338   133.415502
std      35.082112    35.846003
min      90.339996    74.050003
25%     112.120003   105.019997
50%     129.360001   129.070007
75%     168.630005   167.410004
max     232.070007   217.500000

There are in total ... 1005 Timestamps with stock price data. Facebooks´s maximum stock price was ... 217.50!

2. __Select__ the stock prices on __May 13, 2016__! What was the Price for __Apple__?

In [9]:
stocks.loc["2016-05-13"]

AAPL     90.519997
FB      119.809998
Name: 2016-05-13 00:00:00, dtype: float64

The Apple Stock Price on that day was ... 90.52

3. __Select__ all stock prices in __September 2017__ and calculate the __mean__ for both stocks! What was the __mean stock price__ for __Apple__ in __September 2017__?

In [11]:
stocks.loc["2017-09"].mean()

AAPL    157.6085
FB      170.5910
dtype: float64

Apple´s monthly mean price for September 2017 is ... 157.61!

4. __Create a Timestamp__ for August 10, 2019! (convert __2 alternative date strings__ of your choice)

In [12]:
# Alt 1
pd.to_datetime("2019-08-10")

Timestamp('2019-08-10 00:00:00')

In [13]:
# Alt 2
pd.to_datetime("10 Aug 2019")

Timestamp('2019-08-10 00:00:00')

5. __Change Frequency__ of stocks to __monthly__ ("Downsampling") and display the __last__ traded stock price per month! (Hint: The Index should show the last calender day of each month) <br>
What is the __last__ traded price for __Facebook__ in __March 2015__?

In [16]:
stocks.resample("ME").last()

                  AAPL          FB
Date
2015-01-31  117.160004   75.910004
2015-02-28  128.460007   78.970001
2015-03-31  124.430000   82.220001
2015-04-30  125.150002   78.769997
2015-05-31  130.279999   79.190002
2015-06-30  125.430000   85.769997
2015-07-31  121.300003   94.010002
2015-08-31  112.760002   89.430000
2015-09-30  110.300003   89.900002
2015-10-31  119.500000  101.970001
2015-11-30  118.300003  104.239998
2015-12-31  105.260002  104.660004
2016-01-31   97.339996  112.209999
2016-02-29   96.690002  106.919998
2016-03-31  108.989998  114.099998
2016-04-30   93.739998  117.580002
2016-05-31   99.860001  118.809998
2016-06-30   95.599998  114.279999
2016-07-31  104.209999  123.940002
2016-08-31  106.099998  126.120003
2016-09-30  113.050003  128.270004
2016-10-31  113.540001  130.990005
2016-11-30  110.519997  118.419998
2016-12-31  115.820000  115.050003
2017-01-31  121.349998  130.320007
2017-02-28  136.990005  135.539993
2017-03-31  143.660004  142.050003
2017-04-30  143.649994  150.250000
2017-05-31  152.759995  151.460007
2017-06-30  144.020004  150.979996
2017-07-31  148.729996  169.250000
2017-08-31  164.000000  171.970001
2017-09-30  154.119995  170.869995
2017-10-31  169.039993  180.059998
2017-11-30  171.850006  177.179993
2017-12-31  169.229996  176.460007
2018-01-31  167.429993  186.889999
2018-02-28  178.119995  178.320007
2018-03-31  167.779999  159.789993
2018-04-30  165.259995  172.000000
2018-05-31  186.869995  191.779999
2018-06-30  185.110001  194.320007
2018-07-31  190.289993  172.580002
2018-08-31  227.630005  175.729996
2018-09-30  225.740005  164.460007
2018-10-31  218.860001  151.789993
2018-11-30  178.580002  140.610001
2018-12-31  156.229996  133.199997

The last traded price is ... 82.22!

6. Calculate __monthly average/mean stock prices__ and save the new DataFrame in the variable __stocks_m__!

In [17]:
stocks_m = stocks.resample("ME").mean()

What was the average stock price for __Facebook__ in __April 2015__?

In [23]:
# run the cell!
stocks.loc["April 2015"].mean()

AAPL    127.291428
FB       82.091428
dtype: float64

The average price in april is ... 82.09!

7. __Downsample__ stocks to __weekly__ frequency, showing prices on __Fridays__!
What was __Facebook´s__ stock price on the __fourth Friday__ in __January 2015__?

In [26]:
list(stocks.resample('W-Fri'))

[(Timestamp('2015-01-02 00:00:00'),
                    AAPL         FB
  Date
  2015-01-02  109.330002  78.449997),
 (Timestamp('2015-01-09 00:00:00'),
                    AAPL         FB
  Date
  2015-01-05  106.250000  77.190002
  2015-01-06  106.260002  76.150002
  2015-01-07  107.750000  76.150002
  2015-01-08  111.889999  78.180000
  2015-01-09  112.010002  77.739998),
 (Timestamp('2015-01-16 00:00:00'),
                    AAPL         FB
  Date
  2015-01-12  109.250000  76.720001
  2015-01-13  110.220001  76.449997
  2015-01-14  109.800003  76.279999
  2015-01-15  106.820000  74.050003
  2015-01-16  105.989998  75.180000),
 (Timestamp('2015-01-23 00:00:00'),
                    AAPL         FB
  Date
  2015-01-20  108.720001  76.239998
  2015-01-21  109.550003  76.739998
  2015-01-22  112.400002  77.650002
  2015-01-23  112.980003  77.830002),
 (Timestamp('2015-01-30 00:00:00'),
                    AAPL         FB
  Date
  2015-01-26  113.099998  77.500000
  2015-01-27  109.139999  75.779999
  2015-01-28  115.309998  76.239998
  2015-01-29  118.900002  78.000000
  2015-01-30  117.160004  75.910004),
 (Timestamp('2015-02-06 00:00:00'),
                    AAPL         FB
  Date
  2015-02-02  118.629997  74.989998
  2015-02-03  118.650002  75.400002
  2015-02-04  119.559998  75.629997
  2015-02-05  119.940002  75.610001
  2015-02-06  118.930000  74.470001),
 (Timestamp('2015-02-13 00:00:00'),
                    AAPL         FB
  Date
  2015-02-09  119.720001  74.440002
  2015-02-10  122.019997  75.190002
  2015-02-11  124.879997  76.510002
  2015-02-12  126.459999  76.230003
  2015-02-13  127.080002  75.739998),
 (Timestamp('2015-02-20 00:00:00'),
                    AAPL         FB
  Date
  2015-02-17  127.830002  75.599998
  2015-02-18  128.720001  76.709999
  2015-02-19  128.449997  79.419998
  2015-02-20  129.500000  79.900002),
 (Timestamp('2015-02-27 00:00:00'),
                    AAPL         FB
  Date
  2015-02-23  133.000000  78.839996
  2015-02-24  132.169998  78.449997
  2015-02-25  128.789993  79.559998
  2015-02-26  130.419998  80.410004
  2015-02-27  128.460007  78.970001),
 (Timestamp('2015-03-06 00:00:00'),
                    AAPL         FB
  Date
  2015-03-02  129.089996  79.750000
  2015-03-03  129.360001  79.599998
  2015-03-04  128.539993  80.900002
  2015-03-05  126.410004  81.209999
  2015-03-06  126.599998  80.010002),
 (Timestamp('2015-03-13 00:00:00'),
                    AAPL         FB
  Date
  2015-03-09  127.139999  79.440002
  2015-03-10  124.510002  77.550003
  2015-03-11  122.239998  77.570000
  2015-03-12  124.449997  78.930000
  2015-03-13  123.589996  78.050003),
 (Timestamp('2015-03-20 00:00:00'),
                    AAPL         FB
  Date
  2015-03-16  124.949997  78.070000
  2015-03-17  127.040001  79.360001
  2015-03-18  128.470001  80.910004
  2015-03-19  127.500000  82.750000
  2015-03-20  125.900002  83.800003),
 (Timestamp('2015-03-27 00:00:00'),
                    AAPL         FB
  Date
  2015-03-23  127.209999  84.430000
  2015-03-24  126.690002  85.309998
  2015-03-25  123.379997  82.919998
  2015-03-26  124.239998  83.010002
  2015-03-27  123.250000  83.300003),
 (Timestamp('2015-04-03 00:00:00'),
                    AAPL         FB
  Date
  2015-03-30  126.370003  83.199997
  2015-03-31  124.430000  82.220001
  2015-04-01  124.250000  81.669998
  2015-04-02  125.320000  81.559998),
 (Timestamp('2015-04-10 00:00:00'),
                    AAPL         FB
  Date
  2015-04-06  127.349998  82.440002
  2015-04-07  126.010002  82.320000
  2015-04-08  125.599998  82.279999
  2015-04-09  126.559998  82.169998
  2015-04-10  127.099998  82.040001),
 (Timestamp('2015-04-17 00:00:00'),
                    AAPL         FB
  Date
  2015-04-13  126.849998  83.010002
  2015-04-14  126.300003  83.519997
  2015-04-15  126.779999  82.709999
  2015-04-16  126.169998  82.309998
  2015-04-17  124.750000  80.779999),
 (Timestamp('2015-04-24 00:00:00'),
                    AAPL         FB
  Date
  2015-04-20  127.599998  83.089996
  2015-04-21  126.910004  83.620003
  2015-04-22  128.619995  84.629997
  2015-04-23  129.669998  82.410004
  2015-04-24  130.279999  81.529999),
 (Timestamp('2015-05-01 00:00:00'),
                    AAPL         FB
  Date
  2015-04-27  132.649994  81.910004
  2015-04-28  130.559998  80.680000
  2015-04-29  128.639999  80.470001
  2015-04-30  125.150002  78.769997
  2015-05-01  128.949997  78.989998),
 (Timestamp('2015-05-08 00:00:00'),
                    AAPL         FB
  Date
  2015-05-04  128.699997  78.809998
  2015-05-05  125.800003  77.559998
  2015-05-06  125.010002  78.099998
  2015-05-07  125.260002  78.430000
  2015-05-08  127.620003  78.510002),
 (Timestamp('2015-05-15 00:00:00'),
                    AAPL         FB
  Date
  2015-05-11  126.320000  78.010002
  2015-05-12  125.870003  77.459999
  2015-05-13  126.010002  78.440002
  2015-05-14  128.949997  81.370003
  2015-05-15  128.770004  80.419998),
 (Timestamp('2015-05-22 00:00:00'),
                    AAPL         FB
  Date
  2015-05-18  130.190002  80.879997
  2015-05-19  130.070007  80.629997
  2015-05-20  130.059998  80.550003
  2015-05-21  131.389999  80.480003
  2015-05-22  132.539993  80.540001),
 (Timestamp('2015-05-29 00:00:00'),
                    AAPL         FB
  Date
  2015-05-26  129.619995  79.330002
  2015-05-27  132.039993  80.550003
  2015-05-28  131.779999  80.150002
  2015-05-29  130.279999  79.190002),
 (Timestamp('2015-06-05 00:00:00'),
                    AAPL         FB
  Date
  2015-06-01  130.539993  80.290001
  2015-06-02  129.960007  80.440002
  2015-06-03  130.119995  82.440002
  2015-06-04  129.360001  82.050003
  2015-06-05  128.649994  82.139999),
 (Timestamp('2015-06-12 00:00:00'),
                    AAPL         FB
  Date
  2015-06-08  127.800003  80.669998
  2015-06-09  127.419998  80.669998
  2015-06-10  128.880005  82.160004
  2015-06-11  128.589996  81.830002
  2015-06-12  127.169998  81.529999),
 (Timestamp('2015-06-19 00:00:00'),
                    AAPL         FB
  Date
  2015-06-15  126.919998  80.709999
  2015-06-16  127.599998  81.059998
  2015-06-17  127.300003  81.790001
  2015-06-18  127.879997  82.910004
  2015-06-19  126.599998  82.510002),
 (Timestamp('2015-06-26 00:00:00'),
                    AAPL         FB
  Date
  2015-06-22  127.610001  84.739998
  2015-06-23  127.029999  87.879997
  2015-06-24  128.110001  88.860001
  2015-06-25  127.500000  87.980003
  2015-06-26  126.750000  88.010002),
 (Timestamp('2015-07-03 00:00:00'),
                    AAPL         FB
  Date
  2015-06-29  124.529999  85.800003
  2015-06-30  125.430000  85.769997
  2015-07-01  126.599998  86.910004
  2015-07-02  126.440002  87.290001),
 (Timestamp('2015-07-10 00:00:00'),
                    AAPL         FB
  Date
  2015-07-06  126.000000  87.550003
  2015-07-07  125.690002  87.220001
  2015-07-08  122.570000  85.650002
  2015-07-09  120.070000  85.879997
  2015-07-10  123.279999  87.949997),
 (Timestamp('2015-07-17 00:00:00'),
                    AAPL         FB
  Date
  2015-07-13  125.660004  90.099998
  2015-07-14  125.610001  89.680000
  2015-07-15  126.820000  89.760002
  2015-07-16  128.509995  90.849998
  2015-07-17  129.619995  94.970001),
 (Timestamp('2015-07-24 00:00:00'),
                    AAPL         FB
  Date
  2015-07-20  132.070007  97.910004
  2015-07-21  130.750000  98.389999
  2015-07-22  125.220001  97.040001
  2015-07-23  125.160004  95.440002
  2015-07-24  124.500000  96.949997),
 (Timestamp('2015-07-31 00:00:00'),
                    AAPL         FB
  Date
  2015-07-27  122.769997  94.169998
  2015-07-28  123.379997  95.290001
  2015-07-29  122.989998  96.989998
  2015-07-30  122.370003  95.209999
  2015-07-31  121.300003  94.010002),
 (Timestamp('2015-08-07 00:00:00'),
                    AAPL         FB
  Date
  2015-08-03  118.440002  94.139999
  2015-08-04  114.639999  94.059998
  2015-08-05  115.400002  96.440002
  2015-08-06  115.129997  95.120003
  2015-08-07  115.519997  94.300003),
 (Timestamp('2015-08-14 00:00:00'),
                    AAPL         FB
  Date
  2015-08-10  119.720001  94.150002
  2015-08-11  113.489998  93.620003
  2015-08-12  115.239998  94.190002
  2015-08-13  115.150002  93.430000
  2015-08-14  115.959999  94.419998),
 (Timestamp('2015-08-21 00:00:00'),
                    AAPL         FB
  Date
  2015-08-17  117.160004  93.930000
  2015-08-18  116.500000  95.169998
  2015-08-19  115.010002  95.309998
  2015-08-20  112.650002  90.559998
  2015-08-21  105.760002  86.059998),
 (Timestamp('2015-08-28 00:00:00'),
                    AAPL         FB
  Date
  2015-08-24  103.120003  82.089996
  2015-08-25  103.739998  83.000000
  2015-08-26  109.690002  87.190002
  2015-08-27  112.919998  89.730003
  2015-08-28  113.290001  91.010002),
 (Timestamp('2015-09-04 00:00:00'),
                    AAPL         FB
  Date
  2015-08-31  112.760002  89.430000
  2015-09-01  107.720001  87.230003
  2015-09-02  112.339996  89.889999
  2015-09-03  110.370003  88.150002
  2015-09-04  109.269997  88.260002),
 (Timestamp('2015-09-11 00:00:00'),
                    AAPL         FB
  Date
  2015-09-08  112.309998  89.529999
  2015-09-09  110.150002  90.440002
  2015-09-10  112.570000  91.980003
  2015-09-11  114.209999  92.050003),
 (Timestamp('2015-09-18 00:00:00'),
                    AAPL         FB
  Date
  2015-09-14  115.309998  92.309998
  2015-09-15  116.279999  92.900002
  2015-09-16  116.410004  93.449997
  2015-09-17  113.919998  94.339996
  2015-09-18  113.449997  94.400002),
 (Timestamp('2015-09-25 00:00:00'),
                    AAPL         FB
  Date
  2015-09-21  115.209999  95.550003
  2015-09-22  113.400002  92.959999
  2015-09-23  114.320000  93.970001
  2015-09-24  115.000000  94.410004
  2015-09-25  114.709999  92.769997),
 (Timestamp('2015-10-02 00:00:00'),
                    AAPL         FB
  Date
  2015-09-28  112.440002  89.209999
  2015-09-29  109.059998  86.669998
  2015-09-30  110.300003  89.900002
  2015-10-01  109.580002  90.949997
  2015-10-02  110.379997  92.070000),
 (Timestamp('2015-10-09 00:00:00'),
                    AAPL         FB
  Date
  2015-10-05  110.779999  94.010002
  2015-10-06  111.309998  92.800003
  2015-10-07  110.779999  92.400002
  2015-10-08  109.500000  92.470001
  2015-10-09  112.120003  93.239998),
 (Timestamp('2015-10-16 00:00:00'),
                    AAPL         FB
  Date
  2015-10-12  111.599998  94.260002
  2015-10-13  111.790001  94.120003
  2015-10-14  110.209999  94.070000
  2015-10-15  111.860001  95.959999
  2015-10-16  111.040001  97.540001),
 (Timestamp('2015-10-23 00:00:00'),
                    AAPL          FB
  Date
  2015-10-19  111.730003   98.470001
  2015-10-20  113.769997   97.000000
  2015-10-21  113.760002   97.110001
  2015-10-22  115.500000   99.669998
  2015-10-23  119.080002  102.190002),
 (Timestamp('2015-10-30 00:00:00'),
                    AAPL          FB
  Date
  2015-10-26  115.279999  103.769997
  2015-10-27  114.550003  103.699997
  2015-10-28  119.269997  104.199997
  2015-10-29  120.529999  104.879997
  2015-10-30  119.500000  101.970001),
 (Timestamp('2015-11-06 00:00:00'),
                    AAPL          FB
  Date
  2015-11-02  121.180000  103.309998
  2015-11-03  122.570000  102.580002
  2015-11-04  122.000000  103.940002
  2015-11-05  120.919998  108.760002
  2015-11-06  121.059998  107.099998),
 (Timestamp('2015-11-13 00:00:00'),
                    AAPL          FB
  Date
  2015-11-09  120.570000  106.489998
  2015-11-10  116.769997  107.910004
  2015-11-11  116.110001  109.010002
  2015-11-12  115.720001  108.019997
  2015-11-13  112.339996  103.949997),
 (Timestamp('2015-11-20 00:00:00'),
                    AAPL          FB
  Date
  2015-11-16  114.180000  104.040001
  2015-11-17  113.690002  105.129997
  2015-11-18  117.290001  107.769997
  2015-11-19  118.779999  106.260002
  2015-11-20  119.300003  107.320000),
 (Timestamp('2015-11-27 00:00:00'),
                    AAPL          FB
  Date
  2015-11-23  117.750000  106.949997
  2015-11-24  118.879997  105.739998
  2015-11-25  118.029999  105.410004
  2015-11-27  117.809998  105.449997),
 (Timestamp('2015-12-04 00:00:00'),
                    AAPL          FB
  Date
  2015-11-30  118.300003  104.239998
  2015-12-01  117.339996  107.120003
  2015-12-02  116.279999  106.070000
  2015-12-03  115.199997  104.379997
  2015-12-04  119.029999  106.180000),
 (Timestamp('2015-12-11 00:00:00'),
                    AAPL          FB
  Date
  2015-12-07  118.279999  105.610001
  2015-12-08  118.230003  106.489998
  2015-12-09  115.620003  104.599998
  2015-12-10  116.169998  105.419998
  2015-12-11  113.180000  102.120003),
 (Timestamp('2015-12-18 00:00:00'),
                    AAPL          FB
  Date
  2015-12-14  112.480003  104.660004
  2015-12-15  110.489998  104.550003
  2015-12-16  111.339996  106.790001
  2015-12-17  108.980003  106.220001
  2015-12-18  106.029999  104.040001),
 (Timestamp('2015-12-25 00:00:00'),
                    AAPL          FB
  Date
  2015-12-21  107.330002  104.769997
  2015-12-22  107.230003  105.510002
  2015-12-23  108.610001  104.629997
  2015-12-24  108.029999  105.019997),
 (Timestamp('2016-01-01 00:00:00'),
                    AAPL          FB
  Date
  2015-12-28  106.820000  105.930000
  2015-12-29  108.739998  107.260002
  2015-12-30  107.320000  106.220001
  2015-12-31  105.260002  104.660004),
 (Timestamp('2016-01-08 00:00:00'),
                    AAPL          FB
  Date
  2016-01-04  105.349998  102.220001
  2016-01-05  102.709999  102.730003
  2016-01-06  100.699997  102.970001
  2016-01-07   96.449997   97.919998
  2016-01-08   96.959999   97.330002),
 (Timestamp('2016-01-15 00:00:00'),
                   AAPL         FB
  Date
  2016-01-11  98.529999  97.510002
  2016-01-12  99.959999  99.370003
  2016-01-13  97.389999  95.440002
  2016-01-14  99.519997  98.370003
  2016-01-15  97.129997  94.970001),
 (Timestamp('2016-01-22 00:00:00'),
                    AAPL         FB
  Date
  2016-01-19   96.660004  95.260002
  2016-01-20   96.790001  94.349998
  2016-01-21   96.300003  94.160004
  2016-01-22  101.419998  97.940002),
 (Timestamp('2016-01-29 00:00:00'),
                   AAPL          FB
  Date
  2016-01-25  99.440002   97.010002
  2016-01-26  99.989998   97.339996
  2016-01-27  93.419998   94.449997
  2016-01-28  94.089996  109.110001
  2016-01-29  97.339996  112.209999),
 (Timestamp('2016-02-05 00:00:00'),
                   AAPL          FB
  Date
  2016-02-01  96.430000  115.089996
  2016-02-02  94.480003  114.610001
  2016-02-03  96.349998  112.690002
  2016-02-04  96.599998  110.489998
  2016-02-05  94.019997  104.070000),
 (Timestamp('2016-02-12 00:00:00'),
                   AAPL          FB
  Date
  2016-02-08  95.010002   99.750000
  2016-02-09  94.989998   99.540001
  2016-02-10  94.269997  101.000000
  2016-02-11  93.699997  101.910004
  2016-02-12  93.989998  102.010002),
 (Timestamp('2016-02-19 00:00:00'),
                   AAPL          FB
  Date
  2016-02-16  96.639999  101.610001
  2016-02-17  98.120003  105.199997
  2016-02-18  96.260002  103.470001
  2016-02-19  96.040001  104.570000),
 (Timestamp('2016-02-26 00:00:00'),
                   AAPL          FB
  Date
  2016-02-22  96.879997  107.160004
  2016-02-23  94.690002  105.459999
  2016-02-24  96.099998  106.879997
  2016-02-25  96.760002  108.070000
  2016-02-26  96.910004  107.919998),
 (Timestamp('2016-03-04 00:00:00'),
                    AAPL          FB
  Date
  2016-02-29   96.690002  106.919998
  2016-03-01  100.529999  109.820000
  2016-03-02  100.750000  109.949997
  2016-03-03  101.500000  109.580002
  2016-03-04  103.010002  108.389999),
 (Timestamp('2016-03-11 00:00:00'),
                    AAPL          FB
  Date
  2016-03-07  101.870003  105.730003
  2016-03-08  101.029999  105.930000
  2016-03-09  101.120003  107.510002
  2016-03-10  101.169998  107.320000
  2016-03-11  102.260002  109.410004),
 (Timestamp('2016-03-18 00:00:00'),
                    AAPL          FB
  Date
  2016-03-14  102.519997  109.889999
  2016-03-15  104.580002  110.669998
  2016-03-16  105.970001  112.180000
  2016-03-17  105.800003  111.019997
  2016-03-18  105.919998  111.449997),
 (Timestamp('2016-03-25 00:00:00'),
                    AAPL          FB
  Date
  2016-03-21  105.910004  111.849998
  2016-03-22  106.720001  112.250000
  2016-03-23  106.129997  112.540001
  2016-03-24  105.669998  113.050003),
 (Timestamp('2016-04-01 00:00:00'),
                    AAPL          FB
  Date
  2016-03-28  105.190002  113.690002
  2016-03-29  107.680000  116.139999
  2016-03-30  109.559998  114.699997
  2016-03-31  108.989998  114.099998
  2016-04-01  109.989998  116.059998),
 (Timestamp('2016-04-08 00:00:00'),
                    AAPL          FB
  Date
  2016-04-04  111.120003  112.550003
  2016-04-05  109.809998  112.220001
  2016-04-06  110.959999  113.709999
  2016-04-07  108.540001  113.639999
  2016-04-08  108.660004  110.629997),
 (Timestamp('2016-04-15 00:00:00'),
                    AAPL          FB
  Date
  2016-04-11  109.019997  108.989998
  2016-04-12  110.440002  110.610001
  2016-04-13  112.040001  110.510002
  2016-04-14  112.099998  110.839996
  2016-04-15  109.849998  109.639999),
 (Timestamp('2016-04-22 00:00:00'),
                    AAPL          FB
  Date
  2016-04-18  107.480003  110.449997
  2016-04-19  106.910004  112.290001
  2016-04-20  107.129997  112.419998
  2016-04-21  105.970001  113.440002
  2016-04-22  105.680000  110.559998),
 (Timestamp('2016-04-29 00:00:00'),
                    AAPL          FB
  Date
  2016-04-25  105.080002  110.099998
  2016-04-26  104.349998  108.760002
  2016-04-27   97.820000  108.889999
  2016-04-28   94.830002  116.730003
  2016-04-29   93.739998  117.580002),
 (Timestamp('2016-05-06 00:00:00'),
                   AAPL          FB
  Date
  2016-05-02  93.639999  118.570000
  2016-05-03  95.180000  117.430000
  2016-05-04  94.190002  118.059998
  2016-05-05  93.239998  117.809998
  2016-05-06  92.720001  119.489998),
 (Timestamp('2016-05-13 00:00:00'),
                   AAPL          FB
  Date
  2016-05-09  92.790001  119.239998
  2016-05-10  93.419998  120.500000
  2016-05-11  92.510002  119.519997
  2016-05-12  90.339996  120.279999
  2016-05-13  90.519997  119.809998),
 (Timestamp('2016-05-20 00:00:00'),
                   AAPL          FB
  Date
  2016-05-16  93.879997  118.669998
  2016-05-17  93.489998  117.349998
  2016-05-18  94.559998  117.650002
  2016-05-19  94.199997  116.809998
  2016-05-20  95.220001  117.349998),
 (Timestamp('2016-05-27 00:00:00'),
                    AAPL          FB
  Date
  2016-05-23   96.430000  115.970001
  2016-05-24   97.900002  117.699997
  2016-05-25   99.620003  117.889999
  2016-05-26  100.410004  119.470001
  2016-05-27  100.349998  119.379997),
 (Timestamp('2016-06-03 00:00:00'),
                   AAPL          FB
  Date
  2016-05-31  99.860001  118.809998
  2016-06-01  98.459999  118.779999
  2016-06-02  97.720001  118.930000
  2016-06-03  97.919998  118.470001),
 (Timestamp('2016-06-10 00:00:00'),
                   AAPL          FB
  Date
  2016-06-06  98.629997  118.790001
  2016-06-07  99.029999  117.760002
  2016-06-08  98.940002  118.389999
  2016-06-09  99.650002  118.559998
  2016-06-10  98.830002  116.620003),
 (Timestamp('2016-06-17 00:00:00'),
                   AAPL          FB
  Date
  2016-06-13  97.339996  113.949997
  2016-06-14  97.459999  114.940002
  2016-06-15  97.139999  114.599998
  2016-06-16  97.550003  114.389999
  2016-06-17  95.330002  113.019997),
 (Timestamp('2016-06-24 00:00:00'),
                   AAPL          FB
  Date
  2016-06-20  95.099998  113.370003
  2016-06-21  95.910004  114.379997
  2016-06-22  95.550003  113.910004
  2016-06-23  96.099998  115.080002
  2016-06-24  93.400002  112.080002),
 (Timestamp('2016-07-01 00:00:00'),
                   AAPL          FB
  Date
  2016-06-27  92.040001  108.970001

Facebook´s stock price on the fourth Friday in January 2015 was ... 77.83!

# Solutions (Stop here if you want to code on your own!)

# ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

## Time Series Data in Pandas: Introduction


### Exercise 1: Intro to Time Series Data & DatetimeIndex

In [ ]:
#run the cell!
import pandas as pd

1. __Import__ the csv-file "__aapl_fb.csv__" containing Stock Price Data for Apple and Facebook for the years 2015-2018! Convert the datatype in the column __Date__ to __datetime__ and set the column __Date__ as the __Index__ of the DataFrame! <br>
__Save__ the DataFrame in the variable __stocks__! __Fill in the gaps!__

In [ ]:
stocks = pd.read_csv("aapl_fb.csv", parse_dates= ["Date"], index_col = "Date")

How many Timestamps does __stocks__ contain? What was the __maximum stock price__ for Facebook in that Period?

In [ ]:
# run the cell!
stocks.head()

In [ ]:
# run the cell!
stocks.info()

In [ ]:
# run the cell!
stocks.describe()

There are in total ... 1005 Timestamps with stock price data. Facebooks´s maximum stock price was ... 217.50!

2. __Select__ the stock prices on __May 13, 2016__! What was the Price for __Apple__?

In [ ]:
stocks.loc["2016-05-13"]

The Apple Stock Price on that day was ... 90.52

3. __Select__ all stock prices in __September 2017__ and calculate the __mean__ for both stocks! What was the __mean stock price__ for __Apple__ in __September 2017__?

In [ ]:
stocks.loc["2017-09"].mean()

Apple´s monthly mean price for September 2017 is ... 157.61!

4. __Create a Timestamp__ for August 10, 2019! (convert __2 alternative date strings__ of your choice)

In [ ]:
# Alt 1
pd.to_datetime("2019-08-10")

In [ ]:
# Alt 2
pd.to_datetime("10 Aug 2019")

5. __Change Frequency__ of stocks to __monthly__ ("Downsampling") and display the __last__ traded stock price per month! (Hint: The Index should show the last calender day of each month) <br>
What is the __last__ traded price for __Facebook__ in __March 2015__?

In [ ]:
stocks.resample("M").last() # old

In [ ]:
stocks.resample("ME").last() # NEW (Pandas 3.x)

The last traded price is ... 82.22!

6. Calculate __monthly average/mean stock prices__ and save the new DataFrame in the variable __stocks_m__!

In [ ]:
stocks_m  = stocks.resample("ME").mean() # NEW

What was the average stock price for __Facebook__ in __April 2015__?

In [ ]:
# run the cell!
stocks_m.head()

The average price in april is ... 82.09!

7. __Downsample__ stocks to __weekly__ frequency, showing prices on __Fridays__!
What was __Facebook´s__ stock price on the __fourth Friday__ in __January 2015__?

In [ ]:
stocks.resample("W-Fri").last()

Facebook´s stock price on the fourth Friday in January 2015 was ... 77.83!

# Well Done!

-------------------